{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Регистрация</title>
        <link rel="stylesheet" href="{% static 'wishes/styles/style.css'%}" />
    </head>
<body>
    <div class='container'>
        <h1>Регистрация</h1>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Имя пользователя:</label>
                {{ form.username }}
                {% if form.username.errors %}
                    <span class="error">{{ form.username.errors }}
                {% endif%}
            </div>    
            <div class="form-group">
                <label for="id_email">Email:</label>
                {{ form.email }}
                {% if form.email.errors %}
                    <span class="error">{{ form.email.errors }}
                {% endif%}
            </div>   
            <div class="form-group">
                <label for="id_password1">Пароль:</label>
                {{ form.password1 }}
                {% if form.password1.errors %}
                    <span class="error">{{ form.password1.errors }}
                {% endif%}
            </div>   
            <div class="form-group">
                <label for="id_password2">Подтверждение пароля:</label>
                {{ form.password2 }}
                {% if form.password2.errors %}
                    <span class="error">{{ form.password2.errors }}
                {% endif%}
            </div>
            <button type="submit">Зарегистрироваться</button>
        </form>
        <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
    </div>
</body>
</html>
